/*font-family: 'Quicksand', sans-serif;
font-family: 'Source Sans 3', sans-serif;*/

*{
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Source Sans 3', sans-serif;
}

a, a:hover{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}

/*header-section-start*/

.header-section{
  padding: 15px 0px;
  background: url(../img/bg.png) center center no-repeat;
  background-size: cover;
  height: 95vh;
}
.logo{
	margin-right: 10px;
}
.header-section .nav-link{
  color: #d3d3d2 !important;
  text-transform: capitalize;

}

.header-section .nav-link:hover{
  background: url(../img/line.png) center bottom no-repeat;
  
}

/*banner-section-start*/

.header-section .content{
	padding: 130px 0px;
}

.header-section .content span{
	font-family: 'Source Sans 3', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #008ed6;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 80px;
}
.header-section .content h1{
  font-family: 'Source Sans 3', sans-serif;
	font-size: 48px;
	color: #fff;
	padding-right: 32px;
	margin-top: 20px;
}
.header-section .content p{
	font-family: 'Source Sans 3', sans-serif;
	font-size: 18px;
	color: #7f7f7f;
 padding-right: 158px;
 line-height: 28px;
 margin-top: 20px;
}
.header-section .content .double-button{
	padding-top: 50px;
}


.header-section .content .double-button .btn-primary{
	background: #008ed6 !important;
	border-radius: 3px !important;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 20px;
	margin-right:16px ;
	transition: 0.5s;
}


.header-section .content .double-button .btn-secondary{
	background: transparent !important;
	border: 1px solid #7f7f7f !important;
	border-radius: 3px !important;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 20px;
	color: white;
	transition: 0.5s;
}

.header-section .content .double-button .btn-primary:hover{
		background: transparent !important;
	border: 1px solid #7f7f7f !important;
	color: white;
	transition: 0.5s;
}

.header-section .content .double-button .btn-secondary:hover{
	background: #008ed6 !important;
	border: 1px solid #008ed6 !important;
	transition: 0.5s;
}

/*banner-section-end*/



/*product-section-start*/

 .product-section{
 	padding-bottom: 50px;
 	border-bottom: 1px solid #ededed;
 }
.product-section .content{
	text-align: center;
	padding: 60px 0px;
}
.product-section .content span{
	font-family: 'Source Sans 3', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	color: #008ed6;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 80px;
}
.product-section .content h2{
	 font-family: 'Source Sans 3', sans-serif;
	font-size: 40px;
	margin-top: 15px;
	font-weight: 600px;
}
.product-section .content img{}


.product-section .design{
	text-align: center;
}

.product-section .design .box{

}


.product-section .design .box img{
	margin-right: 50px;

}
.product-section .design h4{
	 font-family: 'Source Sans 3', sans-serif;
	 font-weight: 400;
	 font-size: 25px;
	 text-transform: capitalize;
	 text-align: center;
	 margin-right: 50px;
	 margin-top: 20px;

}
.product-section .design p{
	 font-family: 'Source Sans 3', sans-serif;
	 color: #999999;
	 font-size: 20px;
	 padding-right: 50px;
	 text-align: center;
	}

/*product-section-end*/


/*device-section-start*/

.device-section{
	padding: 70px 0px;
}


.device-section .content{
	margin-top: 48px;
}


.device-section .content span{
	font-family: 'Source Sans 3', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	color: #008ed6;
	font-weight: 600;
	letter-spacing: 2px;
}

.device-section .content h2{
	 font-family: 'Source Sans 3', sans-serif;
	font-size: 40px;
	margin-top: 10px;
	font-weight: 600px;
}


.device-section .content img{
	margin-top: 10px;
	margin-bottom: 10px;
}


.device-section .content p{
	font-family: 'Source Sans 3', sans-serif;
	 color: #999999;
	 font-size: 20px;
	 padding-right: 100px;
	
}

.device-section .content ul{}


.device-section .content ul li{
	font-family: 'Source Sans 3', sans-serif;
	font-size: 18px;
	line-height: 13px;
}

.device-section .content ul li img{
	margin-right: 10px;
	width: 20px;
	height: 20px;
	margin-bottom: 13px;
}

/*device-section-end*/


/*details-section-start*/

.details-section{
	background: #f2f2f2;
	padding: 50px 0px;
}

.details-section .content{
	margin-top: 100px;
}


.details-section .content span{
	font-family: 'Source Sans 3', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	color: #008ed6;
	font-weight: 600;
	letter-spacing: 2px;
}

.details-section .content h2{
	 font-family: 'Source Sans 3', sans-serif;
	font-size: 40px;
	margin-top: 10px;
	font-weight: 600px;
}

.details-section .content img{}

.details-section .content p{
	font-family: 'Source Sans 3', sans-serif;
	 color: #999999;
	 font-size: 20px;
	 padding-right: 100px;
}


/*details-section-end*/